
.navbar {
    background-color: rgb(23, 4, 133);
}
.navbar a {
    color: rgb(137, 135, 135);
}
body {
    background-image: url('../images/professional-background-4b31fgiuezafrguu.jpg');
   position: relative;
    background-size: cover;
}
.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
.modal-img {
    width: 100%;
    height: auto;
}
.settings-dropdown {
    position: absolute;
    right: 20px;
    top: 70px; 
    z-index: 1000;
}
.notification-dropdown {
    position: absolute;
    right: 20px;
    top: 70px; 
    z-index: 1000;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.blinking {
    animation: blink 1s infinite; 
}
.card {
    width: 250px; 
    height: 100%;
    padding: 20px;
}

.card-img-top {
     height: 200px;
     max-width: 100%;
     object-fit: contain;
     display: block;
     margin: auto;
}
.table-responsive {
    max-height: 70vh; 
    overflow-y: auto; 
}

